<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>FilterApp1-POC</display-name>
	<welcome-file-list>
		<welcome-file>form.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>sum</servlet-name>
		<servlet-class>com.nt.servlet.SumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sum</servlet-name>
		<url-pattern>/sumurl</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>sum</filter-name>
		<filter-class>com.nt.filter.InputsCheckFilter</filter-class>
		<init-param>
		   <param-name>p1</param-name>
		   <param-value>val1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sum</filter-name>
		<url-pattern>/sumurl</url-pattern>
	</filter-mapping>

</web-app>