@charset "UTF-8";

.main-container {
	width: 450px;
	height: 458px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: 	#BDB76B;
	align-items: center;
	opacity: 0.5;
	border-radius: 12px;
	position: absolute;
    bottom: 100px;
}

::placeholder {
	font-size: 20px;
	opacity: 1;
	text-align: center;
	font-family: roboto;
	font-weight: 500;
}

form {
	display: flex;
	justify-content: center;
}

input[type="text"], input[type="password"] {
	width: 84%;
	height: 40px;
	margin: 0px 0px 20px 0px;
	font-size:17px;
}
.input-user{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

input[type="submit"] {
	width: 220px;
	height: 50px;
	background-color: purple;
	border-radius: 15px;
	font-size: 22px;
	color: white;
}

.bottom-login {
	width: 100%;
	height: 100px;
	padding: 30px 0px 30px 0px;
	display: flex;
	justify-content: space-evenly;
}
.user-logo{
padding: 30px 0px 0px 0px;	
}
input[type="submit"] {
	width: 150px;
	height: 50px;
	background-color: purple;
	border-radius: 15px;
}

.bottom-login {
	width: 100%;
	height: 100px;
	padding: 25px 0px 0px 0px;
	display: flex;
	justify-content: space-evenly;
}

.hiperlink {
	font-size: 20px;
	height: 27px;
	padding: 18px 0px 0px 0px;
}